Assets/Levels/level_specs.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Map">
			<xsd:complexType>
				<xsd:all>
					<xsd:element minOccurs="1" maxOccurs="1" name="Tiles_X" />
					<xsd:element minOccurs="1" maxOccurs="1" name="Tiles_Y" />
				</xsd:all>
			</xsd:complexType> 
			<xsd:complexType>
				<xsd:element minOccurs="0" name="Tile" />
			</xsd:complexType> 
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>